/* LISTA ZOLNIERZY */
#soldier_list table{
    width: 100%;
}

#soldier_list table th,
#soldier_list table td{
    text-align: left;
    vertical-align: middle;
}

#soldier_list table .soldier_id{
    text-align: center;
    width: 45px;
}

#soldier_list table .soldier_akcje{
    width: 150px;
}

#soldier_list table td a{
    display: inline-block;
    text-decoration: none;
}

#soldier_list table td a > span{
    font-size: 18px;
    line-height: normal;
}

#soldier_list table td a:hover > span{
    opacity: 0.6;
}

#soldier_list table td a.soldier_edit{
    color: #ff0000;
}

#soldier_list table td a.soldier_equipment{
    color: #fe9900;
}

#soldier_list table td a.soldier_missions{
    color: #0000ff;
}

#soldier_list table td a.soldier_traniings{
    color: #00ff00;
}

#soldier_list table td a.soldier_orders{
    color: #777777;
}

/* LISTA MISJI */
#mission_list table{
    text-align: left;
    width: 100%;
}

#mission_list table .table_status{
    font-weight: bold;
    width: 110px;
}

#mission_list table .table_id{
    text-align: center;
    width: 50px;
}

#mission_list table .table_date_start,
#mission_list table .table_date_end{
    width: 190px;
}

#mission_list table .table_akcje{
    width: 230px;
}

#mission_list table td{
    vertical-align: middle;
}

#mission_list .sew-alert{
    margin: 0 0;
}

/* FORMULARZ MISJI */
.btn.mar_button{
    font-family: Arial;
    font-weight: bold;
}

button.btn.mar_button .glyphicon{
    margin-right: 4px;
    top: 2px;
}

.container .controller_title{
    display: block;
    font-size: 36px;
    line-height: normal;
    margin: 0 0 30px;
}

.sew_hint{
    color: #737373;
    display: block;
    font-size: 12px;
    line-height: normal;
    margin: 5px;
    text-align: left;
}

.sew-alert{
    margin: 0 10px;
}

.sew-alert .sew_alert_small{
    padding: 10px;
}

.sew-alert .sew_alert_small ul{
    padding-left: 20px;
}

.require_text{
    color: #c7254e;
}

.sew_green{
    color: #008000;
}

.sew_orange{
    color: #ef8f00;
}

.sew_red{
    color: #ff0000;
}

.sew_purple{
    color: #800080;
}

.sew-pages{
    margin-bottom: 10px;
}

.sew-pages ul{
    list-style: outside none none;
    padding: 0;
    text-align: left;
}

.sew-pages ul > li{
    float: left;
    margin: 0 2px;
}

.sew-pages ul > li:first-child{
    margin-left: 2px;
}

.sew-pages ul > li:last-child{
    margin-right: 2px;
}

#mission_form .alert,
#mission_form form{
    text-align: left;
}

#mission_form form label{
    width: auto;
}

#mission_form form .col-sm-8 > .select2{
    width: 100% !important;
}