.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{
    outline: medium none;
}

input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline: medium none;
    outline-offset: 0;
}

/* LISTA ZOLNIERZY */
#badges_list table,
#military_list table,
#user_list table,
#soldier_list table{
    width: 100%;
}

#soldier_list table th,
#soldier_list table td{
    text-align: left;
    vertical-align: middle;
}

#soldier_list table .soldier_id{
    text-align: center;
    width: 45px;
}

#soldier_list table .soldier_akcje{
    width: 150px;
}

#soldier_list table td a{
    /* display: inline-block; */
    text-decoration: none;
}

#soldier_list table td a > span{
    font-size: 12px;
    line-height: normal;
    margin-right: 4px;
}

#soldier_list table td button > span.glyphicon-chevron-down{
    left: 1px;
    top: 3px;
}

#soldier_list ul.dropdown-menu {
    background-color: #ffffff;
}

#soldier_list table td a:hover > span{
    opacity: 0.6;
}

#soldier_list table td a.soldier_edit{
    color: #ff0000;
}

#soldier_list table td a.soldier_equipment{
    color: #fe9900;
}

#soldier_list table td a.soldier_missions{
    color: #0000ff;
}

#soldier_list table td a.soldier_traniings{
    color: #00ff00;
}

#soldier_list table td a.soldier_orders{
    color: #777777;
}

/* LISTA MISJI */
#training_list table,
#mission_list table{
    text-align: left;
    width: 100%;
}

#mission_list table .table_status{
    font-weight: bold;
    width: 125px;
}

#mission_list table .table_id{
    text-align: center;
    width: 50px;
}

#mission_list table .table_date_start,
#mission_list table .table_date_end{
    width: 190px;
}

#mission_list table .table_akcje{
    width: 230px;
}

#mission_list table td{
    vertical-align: middle;
}

#mission_list .sew-alert{
    margin: 0 0;
}

/* FORMULARZ MISJI */
.btn.mar_button{
    font-family: Arial;
    font-weight: bold;
}

button.btn.mar_button .glyphicon{
    margin-right: 4px;
    top: 2px;
}

.container .controller_title{
    display: block;
    font-size: 36px;
    line-height: normal;
    margin: 0 0 30px;
    text-align: center;
}

.container .sew-row > .controller_title{
    margin-left: 16.6667%;
}

.sew_hint{
    color: #737373;
    display: block;
    font-size: 12px;
    line-height: normal;
    margin: 5px;
    text-align: left;
}

.sew-alert{
    margin: 0 10px;
}

.no_margin{
    margin: 0 !important;
}

.sew-row{
    margin: 0 10px 10px 10px;
}

.sew-alert .sew_alert_small{
    padding: 10px;
}

.sew-alert .sew_alert_small ul{
    padding-left: 20px;
}

.require_text{
    color: #c7254e;
}

.sew_green{
    color: #008000;
}

.sew_orange{
    color: #ef8f00;
}

.sew_red{
    color: #ff0000;
}

.sew_purple{
    color: #800080;
}

.sew_blue{
    color: #0000ff;
}

.sew-pages{
    margin-bottom: 10px;
}

.sew-pages ul{
    list-style: outside none none;
    padding: 0;
    text-align: left;
}

.sew-pages ul > li{
    float: left;
    margin: 0 2px;
}

.sew-pages ul > li:first-child{
    margin-left: 2px;
}

.sew-pages ul > li:last-child{
    margin-right: 2px;
}

#mission_form .alert,
#mission_form form{
    text-align: left;
}

#mission_form form label{
    width: auto;
}

#mission_form form .col-sm-8 > .select2{
    width: 100% !important;
}

/* PODGLAD MISJI */
#mission_view{
    text-align: left;
}

.mar_custom .row_title,
.sew-row > .row_title{
    font-weight: bold;
    line-height: normal;
    margin-top: 10px;
}

.mar_custom .row_content,
.sew-row > .row_content{
    background-color: #fefefe;
    line-height: normal;
    min-height: 37px;
    padding: 10px;
}

.mar_custom .row_content .sew_green,
.mar_custom .row_content .sew_purple,
.mar_custom .row_content .sew_orange,
.mar_custom .row_content .sew_blue,
.mar_custom .row_content .sew_red,
#mission_view .sew-row > .row_content .sew_green,
#mission_view .sew-row > .row_content .sew_purple,
#mission_view .sew-row > .row_content .sew_orange{
    font-weight: bold;
}

.sew-row.sew-buttons > div{
    padding-right: 0;
}

.no_padding{
    padding: 0 !important;
}

#log_table{
    margin-top: 50px;
}

#log_table table{
    width: 100%;
}

.clear{
    clear: both;
}

/* #mission_view .sew_hint{
    margin-left: 16.6667%;
    padding: 0;
} */

/* MISJE */
#mission_list table .select2{
    width: 100% !important;
}

#mission_list table{
    table-layout: fixed;
}

#mission_list table .table_id{
    width: 60px;
}

#mission_list table .table_rodzaj{
    width: 200px;
}

#mission_list table .table_akcje {
    width: 190px;
}

#mission_list table td{
    word-wrap: break-word;
}

/* PODSTRONY ZOLNIERZA */
.soldier_option_page{
    text-align: left;
}

.soldier_option_page #add_form table .add_select{
    width: 500px;
}

.soldier_option_page #add_form table td{
    vertical-align: middle;
}

.soldier_option_page #table_list{
    margin-top: 100px;
    width: 100%;
}

.soldier_option_page.container .controller_title{
    text-align: left;
}

.soldier_option_page.container .controller_title_option{
    font-size: 28px;
}

.soldier_option_page.container  .sew_hint{
    margin-left: 16.6667%;
    padding: 0;
}

.soldier_option_page.container .title_margin_top{
    margin-top: 90px !important;
}

.soldier_option_page.container .sew-alert{
    margin: 0;
}

.soldier_option_page.container .sew-alert .alert{
    margin-bottom: 30px;
}

.jumbotron {
    height: auto;
    min-height: 830px;
}

/* UZYTKOWNICY */
#user_list table tr .table_id{
    text-align: center;
    width: 60px;
}

#user_list table tr .table_permission{
    width: 190px;
}

#user_list table tr .table_status{
    width: 120px;
}

#user_list table tr .table_guard{
    width: 120px;
}

#user_list table tr .table_akcje{
    width: 150px;
}

#user_list table tr.form_search th.table_akcje,
#user_list table tr td.table_akcje{
    text-align: center !important;
}

#user_form{
    text-align: left;
}

#user_form .select2{
    width: 100%;
}

/* JEDNOSTKI */
#military_list table .table_akcje{
    width: 150px;
}

#military_list table tr.form_search th.table_akcje,
#military_list table tr td.table_akcje{
    text-align: center !important;
}

#military_list table .table_id{
    width: 50px;
}

#military_list table .table_number{
    width: 80px;
}

#military_list table .table_status{
    width: 100px;
}

#military_list table .table_rodzaj{
    width: 200px;
}

#military_list table .table_lokalizacja,
#military_list table .table_name{
    text-align: left;
}

/* ODZNACZENIA */
#badge_form{
    text-align: left;
}

#badges_list .table_akcje{
    width: 130px;
}

#badges_list .table_name{
    text-align: left;
}

#badges_list .table_id{
    width: 50px;
}

#badges_list .table_status{
    width: 100px;
}

#badges_list .table_rank{
    width: 300px;
}

/* WYSZUKIWARKA */
tr.form_search input{
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    width: 100%;
}

tr.form_search .select2{
    text-align: left;
    width: 100% !important;
}

.alert-danger.search ul{
    text-align: left;
}

table tr.form_search td{
    background-color: #FAEBD7;
}

table tr.form_search td.table_akcje{
    min-width: 150px;
}

/* CENTRA SZKOLEN */
#training_center_list table{
    width: 100%;
}

#training_center_form{
    text-align: left;
}

#training_center_list .table_id{
    width: 50px;
}

#training_center_list .table_akcje{
    width: 130px;
}

#training_center_list .table_name{
    text-align: left;
}

#training_center_list .table_status{
    width: 150px;
}

/* SZKOLENIA */
#training_list table .select2{
    width: 100% !important;
}

#training_list table{
    table-layout: fixed;
}

#training_list table .table_status{
    width: 130px;
}

#training_list table .table_traning_center{
    width: 350px;
}

#training_list table .table_id{
    width: 60px;
}

#training_list table .table_akcje{
    width: 192px;
}

#training_list table .table_date_start{
    width: 155px;
}

#training_list table .table_date_end{
    width: 155px;
}

#training_list table .table_code{
    width: 115px;
}

.sew_hint.col-sm-offset-2{
    margin-left: 16.6667%;
    padding: 0;
}

.sew_hint.col-sm-offset-3{
    margin-left: 25%;
}

#training_view{
    text-align: left;
}

/* EKWIPUNEK */
#equipments_list table,
#equipment_type_list table{
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

#equipment_type_list table td{
    vertical-align: middle;
    word-wrap: break-word;
}

#equipment_type_list table .table_id{
    width: 60px;
}

/* #equipment_type_list table tbody td.table_akcje,
#equipment_type_list table tbody td.table_id{
    text-align: center;
} */

#equipment_type_list table .table_status{
    width: 100px;
}

#equipment_type_list table .table_akcje{
    width: 205px;
}

#equipment_type_list.childs table .table_akcje{
    width: 130px;
}

#equipments_form,
#equipment_type_form{
    text-align: left;
}

#equipments_list table .table_akcje{
    width: 145px;
}

#equipments_list table .table_id{
    width: 60px;
}

#equipments_list table .table_status{
    width: 150px;
}

#equipments_list table .table_type{
    width: 400px;
}


/* ZOLNIERZE */
#soldier_list table{
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

#soldier_list table .table_id{
    width: 80px;
}

#soldier_list table .table_akcje{
    width: 150px;
}

#soldier_list table .table_status{
    width: 170px;
}

#soldier_list table td{
    vertical-align: middle;
    word-wrap: break-word;
}

#soldier_list table td.table_id,
#soldier_list table td.table_akcje{
    text-align: center;
}

#soldier_form{
    text-align: left;
}

/* .mar_custom .panel .panel-body .form-group{
    margin-left: 0;
    margin-right: 0;
} */

.mar_custom .form-group label.radio-inline{
    padding-top: 0;
    width: auto;
}

.mar_custom .panel .panel-body{
    background-color: #f8f8f8;
}

.mar_custom .page-header{
    border-color: #337ab7;
    color: #337ab7;
}

.mar_custom .page-header.red,
.mar_custom .page-header.danger{
    border-color: #c9302c;
    color: #c9302c;
}

.mar_custom .page-header.yellow,
.mar_custom .page-header.warning{
    border-color: #EC971F;
    color: #EC971F;
}

.mar_custom .page-header.purple{
    border-color: #800080;
    color: #800080;
}

.mar_custom .no_margin_top{
    margin-top: 0;
}

.dropdown-menu-button-link{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    clear: both;
    color: #333333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

.dropdown-menu-button-link:focus,
.dropdown-menu-button-link:hover{
    background-color: #f5f5f5;
    color: #262626;
}

.dropdown-menu-button-link:focus span,
.dropdown-menu-button-link:hover span{
    opacity: 0.6;
}

/* DZIECI */
.soldier_children_list .jumbotron{
    text-align: left;
}

.soldier_children_list table{
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

.soldier_children_list table td{
    vertical-align: middle;
    word-wrap: break-word;
}

.soldier_children_list table .table_id{
    width: 80px;
}

.soldier_children_list table td.table_id,
.soldier_children_list table td.table_akcje{
    text-align: center;
}

.soldier_children_list table.table_add{
    margin-bottom: 70px;
}

.soldier_children_list table.table_add .table_akcje{
    width: 110px;
}

#soldier_schools_list table:not(.table_add) .table_akcje,
#soldier_drive_licenses_list table:not(.table_add) .table_akcje,
#soldier_languages_list table:not(.table_add) .table_akcje,
#soldier_child_list table:not(.table_add) .table_akcje{
    width: 75px;
}

.jumbotron h1.controller_child_title{
    font-size: 22px;
    line-height: normal;
    margin: 0 0 10px;
}

.soldier_children_list table .select2{
    width: 100% !important;
}

#soldier_eqipments_list .jumbotron,
#soldier_ranks_list .jumbotron,
#soldier_address_form .jumbotron,
#soldier_schools_form .jumbotron{
    text-align: left;
}

#soldier_address_form form .select2,
#soldier_schools_form form .select2{
    width: 100% !important;
}

#soldier_schools_list table .table_date_start,
#soldier_schools_list table .table_date_end{
    width: 145px;
}

#soldier_schools_list table .table_academic_degree{
    width: 95px;
}

#soldier_addresses_list table:not(.table_add) .table_akcje,
#soldier_schools_list table:not(.table_add) .table_akcje{
    width: 125px;
}

#soldier_addresses_list table td,
#soldier_schools_list table td{
    vertical-align: middle;
}

#soldier_missions_list table.table_add .table_akcje{
    width: 185px;
}

#soldier_trainings_list table.table_add .table_akcje{
    width: 220px;
}

#soldier_badges_list table:not(.table_add) .table_akcje,
#soldier_trainings_list table:not(.table_add) .table_akcje,
#soldier_missions_list table:not(.table_add) .table_akcje{
    width: 145px;
}

#soldier_trainings_list table .table_date_start,
#soldier_missions_list table .table_date_start{
    width: 185px;
}

#soldier_trainings_list table .table_date_end,
#soldier_missions_list table .table_date_end{
    width: 185px;
}

#soldier_trainings_list table .table_status,
#soldier_missions_list table .table_status{
    width: 185px;
}

#soldier_ranks_list table:not(.table_add) td,
#soldier_eqipments_list table:not(.table_add) td,
#soldier_badges_list table:not(.table_add) td,
#soldier_trainings_list table:not(.table_add) td,
#soldier_missions_list table:not(.table_add) td{
    vertical-align: middle;
    word-wrap: break-word;
}

#soldier_eqipments_list table td .btn-group a > span,
#soldier_badges_list table td .btn-group a > span,
#soldier_trainings_list table td .btn-group a > span,
#soldier_missions_list table td .btn-group a > span{
    font-size: 12px;
    line-height: normal;
    margin-right: 4px;
}

#soldier_eqipments_list .btn-group ul.dropdown-menu,
#soldier_badges_list .btn-group ul.dropdown-menu,
#soldier_trainings_list .btn-group ul.dropdown-menu,
#soldier_missions_list .btn-group ul.dropdown-menu {
    background-color: #ffffff;
}

#soldier_eqipments_list table td .btn-group a:hover > span,
#soldier_badges_list table td .btn-group a:hover > span,
#soldier_trainings_list table td .btn-group a:hover > span,
#soldier_missions_list table td .btn-group a:hover > span {
    opacity: 0.6;
}

#soldier_eqipments_list table td .btn-group a:hover > span,
#soldier_badges_list table td .btn-group a:hover > span,
#soldier_trainings_list table td .btn-group a:hover > span,
#soldier_missions_list table td .btn-group a:hover > span {
    opacity: 0.6;
}

#soldier_eqipments_list table td.table_akcje.returned .btn-group,
#soldier_badges_list table td.table_akcje.received .btn-group,
#soldier_trainings_list table td.table_akcje.returned .btn-group,
#soldier_missions_list table td.table_akcje.detached .btn-group{
    width: 123px;
}

#soldier_eqipments_list table td.table_akcje.returned a,
#soldier_badges_list table td.table_akcje.received a,
#soldier_trainings_list table td.table_akcje.returned a,
#soldier_missions_list table td.table_akcje.detached a {
    text-align: center;
    width: 100%;
}

#soldier_trainings_view .jumbotron,
#soldier_trainings_form .jumbotron,
#soldier_equipments_form .jumbotron,
#soldier_badges_view .jumbotron,
#soldier_badges_form .jumbotron,
#soldier_equipments_view .jumbotron,
#soldier_missions_view .jumbotron,
#soldier_missions_form .jumbotron{
    text-align: left;
}

#soldier_badges_form form .select2,
#soldier_eqipments_list form .select2,
#soldier_equipments_form form .select2,
#soldier_trainings_form form .select2,
#soldier_missions_form form .select2,
#soldier_missions_form form .select2{
    width: 100% !important;
}

.mar_custom table{
    width: 100%;
}

.margin_top_15{
    margin-top: 15px;
}

.margin_top_50{
    margin-top: 50px;
}

#soldier_badges_list table .table_status{
    width: 100px;
}

#soldier_badges_list table .table_date_grant{
    width: 140px;
}

#soldier_badges_list table .table_rank{
    width: 200px;
}

#soldier_badges_list table .table_id{
    width: 60px;
}

#soldier_ranks_list table.table_add .table_date{
    width: 200px;
}

#soldier_ranks_list table.table_now .table_date{
    width: 280px;
}

#soldier_ranks_list table.table_items .table_date{
    width: 200px;
}

#soldier_ranks_list table.table_add .table_akcje{
    width: 105px;
}

#soldier_ranks_list table.table_items .table_akcje{
    width: 80px;
}

#soldier_eqipments_list table.table_add .table_akcje{
    width: 220px;
}

#soldier_eqipments_list table.table_add .table_date{
    width: 200px;
}

#soldier_eqipments_list table.table_add .table_count{
    width: 100px;
}

#soldier_eqipments_list table.table_items .table_akcje{
    width: 150px;
}

#soldier_eqipments_list table.table_items .table_status{
    width: 160px;
}

.glyphicon-print{
    margin-right: 3px;
}

.view_dropdown a span{
    font-size: 12px;
    line-height: normal;
    margin-right: 4px;
}

.view_dropdown span.glyphicon-chevron-down {
    left: 1px;
    top: 3px;
}

.view_dropdown ul.dropdown-menu {
    background-color: #ffffff;
}

#center_column .m_table_list table{
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

#center_column .m_table_list table th,
#center_column .m_table_list table td {
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
}

.view_dropdown ul.dropdown-menu > li > a {
    text-decoration: none;
}

.view_dropdown ul.dropdown-menu > li > a:focus,
.view_dropdown ul.dropdown-menu > li > a:hover {
    background-color: #f5f5f5;
    color: #262626;
}

.view_dropdown ul.dropdown-menu > li > a:focus span,
.view_dropdown ul.dropdown-menu > li > a:hover span{
    opacity: 0.6;
}

/* TYPY JEDNOSTEK WOJSKOWYCH */
#military_type_list table tr .table_id{
    width: 50px;
}

#military_type_list table tr .table_akcje,
#military_type_list table tr .table_status{
    width: 150px;
}

#military_type_list table tr td.table_akcje{
    text-align: center;
}

/* WYPOSAZENIE */
#equipment_type_list table tr td.table_akcje,
#equipments_list table tr td.table_akcje{
    text-align: center;
}

#equipment_type_list table tr .table_akcje,
#equipments_list table tr .table_akcje{
    width: 150px;
}

/* MISJE */
#mission_type_list table tr td.table_akcje,
#mission_list table tr td.table_akcje{
    text-align: center;
}

#mission_type_list table tr .table_akcje,
#mission_list table tr .table_akcje{
    width: 150px;
}

#mission_type_form .select2,
#mission_form .select2{
    width: 100% !important;
}

#mission_type_list table tr .table_id{
    width: 60px;
}

#mission_type_list table tr .table_status{
    width: 100px;
}

/* SZKOLENIA */
#training_form .select2{
    width: 100% !important;
}

#training_center_list table tr td.table_akcje,
#training_list table tr td.table_akcje{
    text-align: center;
}

#training_center_list table tr .table_akcje,
#training_list table tr .table_akcje{
    width: 150px;
}

#training_center_list table tr .table_id {
    width: 60px;
}
